<a href="https://colab.research.google.com/github/BahaAyadi/HousingPricesPrediction/blob/master/Iowa_Housing_prices_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import keras
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv('drive/My Drive/HousingPrices.csv')

In [ ]:
dataset.head()

   YearBuilt  2ndFlrSF  GrLivArea  ...  TotRmsAbvGrd  YrSold  SalePrice
0       2003       854       1710  ...             8    2008     208500
1       1976         0       1262  ...             6    2007     181500
2       2001       866       1786  ...             6    2008     223500
3       1915       756       1717  ...             7    2006     140000
4       2000      1053       2198  ...             9    2008     250000

[5 rows x 9 columns]

In [ ]:
X = dataset.drop(columns=['SalePrice'])
Y = dataset[['SalePrice']].values

In [ ]:
model = keras.Sequential()
model.add(keras.layers.Dense(8, activation = 'relu', input_shape=(8,)))
model.add(keras.layers.Dense(8, activation ='relu'))
model.add(keras.layers.Dense(1))
model.compile(optimizer='adam', loss ='mean_squared_error')

In [ ]:
model.fit(X,Y,epochs=30 , callbacks=[keras.callbacks.EarlyStopping(patience=5)])

Epoch 1/30
1460/1460 [==============================] - 0s 212us/step - loss: 39016510663.1890
Epoch 2/30
1460/1460 [==============================] - 0s 32us/step - loss: 38930086398.5973
Epoch 3/30
1460/1460 [==============================] - 0s 32us/step - loss: 38746934824.6795
Epoch 4/30
1460/1460 [==============================] - 0s 32us/step - loss: 38407157238.1808
Epoch 5/30
1460/1460 [==============================] - 0s 32us/step - loss: 37861644865.9288
Epoch 6/30
  32/1460 [..............................] - ETA: 0s - loss: 29396508672.0000

/usr/local/lib/python3.6/dist-packages/keras/callbacks/callbacks.py:846: RuntimeWarning: Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
  (self.monitor, ','.join(list(logs.keys()))), RuntimeWarning

1460/1460 [==============================] - 0s 34us/step - loss: 37057724831.2110
Epoch 7/30
1460/1460 [==============================] - 0s 34us/step - loss: 35956879023.3425
Epoch 8/30
1460/1460 [==============================] - 0s 33us/step - loss: 34515342613.7425
Epoch 9/30
1460/1460 [==============================] - 0s 32us/step - loss: 32739435494.7507
Epoch 10/30
1460/1460 [==============================] - 0s 34us/step - loss: 30633207145.9069
Epoch 11/30
1460/1460 [==============================] - 0s 33us/step - loss: 28220034477.2384
Epoch 12/30
1460/1460 [==============================] - 0s 32us/step - loss: 25566345855.6493
Epoch 13/30
1460/1460 [==============================] - 0s 32us/step - loss: 22741986980.1205
Epoch 14/30
1460/1460 [==============================] - 0s 31us/step - loss: 19869867714.9808
Epoch 15/30
1460/1460 [==============================] - 0s 32us/step - loss: 17042842368.7014
Epoch 16/30
1460/1460 [==============================] - 0s 32us/step - loss: 14366141201.5342
Epoch 17/30
1460/1460 [==============================] - 0s 33us/step - loss: 11942861680.9205
Epoch 18/30
1460/1460 [==============================] - 0s 33us/step - loss: 9863449128.6795
Epoch 19/30
1460/1460 [==============================] - 0s 33us/step - loss: 8167387728.6575
Epoch 20/30
1460/1460 [==============================] - 0s 32us/step - loss: 6852423043.1562
Epoch 21/30
1460/1460 [==============================] - 0s 31us/step - loss: 5910544816.0438
Epoch 22/30
1460/1460 [==============================] - 0s 33us/step - loss: 5259747929.7753
Epoch 23/30
1460/1460 [==============================] - 0s 33us/step - loss: 4840629127.3644
Epoch 24/30
1460/1460 [==============================] - 0s 32us/step - loss: 4594063098.3890
Epoch 25/30
1460/1460 [==============================] - 0s 33us/step - loss: 4453954949.9616
Epoch 26/30
1460/1460 [==============================] - 0s 32us/step - loss: 4379268961.4904
Epoch 27/30
1460/1460 [==============================] - 0s 36us/step - loss: 4340873798.1370
Epoch 28/30
1460/1460 [==============================] - 0s 35us/step - loss: 4320899327.2986
Epoch 29/30
1460/1460 [==============================] - 0s 34us/step - loss: 4309744495.5178
Epoch 30/30
1460/1460 [==============================] - 0s 31us/step - loss: 4299583838.6849

In [ ]:
test_model = np.array([2003	,854	,1710,	2,	1,	3,	8,	2008])
test_model_reshaped = test_model.reshape(1,8)
ourPred = model.predict(test_model_reshaped)
print(ourPred)

[[205926.1]]

In [ ]:
model.save('housing_model.h5')